In [5]:
import pandas as pd
df = pd.read_csv('airport_boxes_data.csv',index_col=0)
df

,Runways,Terminals,Passenger_19,Passenger_20,Top_Dest,Dest_2,Dest_3
Airport,,,,,,,
LAX,4,8,42965654,14057650,"London, England",Paris Charles de Gaulle,"Mexico City, Mexico"
JFK,4,6,31123436,8286326,"London, England",Paris Charles de Gaulle,"Mexico City, Mexico"
ORD,8,4,40887890,14613209,"London, England","Toronto, Ontario, CN","Los Angeles, California"
ATL,5,2,53505357,20559853,"Fort Lauderdale, Florida","Orlando, Florida","Paris Charles de Gaulle, France"
DFW,7,5,35785318,18595214,"Los Angeles, California","Cancun, Mexico","London, England"

In [6]:
df.loc['LAX']

Runways                               4
Terminals                             8
Passenger_19                   42965654
Passenger_20                   14057650
Top_Dest                London, England
Dest_2          Paris Charles de Gaulle
Dest_3              Mexico City, Mexico
Name: LAX, dtype: object

In [8]:
runways = df.loc['LAX'][0]
runways

4

In [12]:
def data(x='LAX'):
    runways = df.loc['LAX'][0]
    terminals = df.loc['LAX'][1]
    passen_19 = df.loc['LAX'][2]
    passen_20 = df.loc['LAX'][3]
    top1 = df.loc['LAX'][4]
    top2 = df.loc['LAX'][5]
    top3 = df.loc['LAX'][6]
    
    return runways,terminals, passen_19, passen_20, top1, top2, top3

In [13]:
data('JFK')

(4,
 8,
 42965654,
 14057650,
 'London, England',
 'Paris Charles de Gaulle',
 'Mexico City, Mexico')